body  {color: midnightblue;
      background-color: rgb(106, 85, 0);
      font-size: larger;
      font-weight: 600;
      font-family:Verdana, Geneva, Tahoma, sans-serif
}



h1 {
    color: rgb(0, 0, 133);
    background-color: rgb(234, 201, 12);

}


#top-paragraph  { 
    font-family: Verdana, Geneva, Tahoma, sans-serif
    background-color: blue;

}

.mainimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainimage img {width: 50%;
}



.navbar {
    display: flex;
    justify-content: space-around;
}

*{background-color: black
    ;}

